/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


input:focus {
  outline: none;
}
select:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
button:focus {
  outline: none;
}



textarea
{
  font-family: "Droid Serif", serif;
  font-size: 28px;
  text-align: left;
  float: left;
  position: relative;
  left: 30%;
  padding-top: 5%;
}

textarea{
  color: #ffffff;
}

body{
  background-color: #1a1a1a !important;
}
html {
  overflow:   scroll;
  color: #1a1a1a !important;
  font-size: 1em;
}

h1{
	color: #1a1a1a !important;
	align-items: center;
	user-select: none;

}

h2{
	color: #1a1a1a !important;
	align-items: center;
	user-select: none;
}

p{
	color: #1a1a1a !important;
	align-items: center;
	user-select: none;
}


::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}



